[user]
	name = Rubén Bernárdez
	email = rubenbp@gmail.com

[fetch]
	prune = true

[push]
	default = simple

[core]
	excludesfile = ~/.gitignore_global

[difftool]
	prompt = false

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[diff]
	tool = vimdiff
	compactionHeuristic = true
	indentHeuristic = true

[credential]
	helper = osxkeychain

[color]
	diff = auto
	status = auto
	branch = auto
	ui = always

[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan